.addionalNav
{
    background-color: aliceblue;
    width: 70px;
    height: 100vh;
    position: fixed;
    z-index: 56545;
}
.mainNav
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainNav img
{
    cursor: pointer;
}
.navbar
{
    display: none;
    width: 15%;
    height: 100%;
    position: fixed;
    z-index: 455555;
}
@keyframes move
{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }    
}
.a1
{
    animation-name: move;
    animation-duration:5s;
    color: white;
}
.a2
{
    animation-name: move;
    animation-duration:5s;
    animation-delay: 2s;
    color: white;
}
.a3
{
    animation-name: move;
    animation-duration:5s;
    animation-delay: 4s;
    color: white;
}
.a4
{
    animation-name: move;
    animation-duration:5s;
    animation-delay: 6s;
    color: white;
}
.a5
{
    animation-name: move;
    animation-duration:5s;
    animation-delay: 8s;
    color: white;
}
.a6
{
    animation-name: move;
    animation-duration:5s;
    animation-delay: 10s;
    color: white;
}
.navbar-nav
{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20px;
}
.nav-link:hover
{
    color:red;
}
.social 
{
    position: absolute;
    top: 75%;
    left: 10%;
    cursor: pointer;
}
.soci
{
    color: white;
}
.soci:hover
{
    color: red;
} 
.pragraph
{
    position: absolute;
    top: 85%;
    left:15px;
}
.movie
{
    width: 100%;
    height: 500px; 
    background-color: blueviolet;
    position: relative;
    overflow: hidden;
}
.movie img
{
    width: 100%;
    height: 100%;
}
.innerphoto
{
    color: black;
    font-family: 'Alegreya', serif;
    width: 100%;
    background-color:rgba(255, 255,255,.6);
    position: absolute;
    top:0;
    bottom:0;
    z-index: 33;
    display: none;
}
.movie:hover .innerphoto
{
    display: block;
    animation-name: moveing;
    animation-duration: 1s;
}
@keyframes moveing
{
    from
    {
        transform: translateY(80px);
    }
    to
    {
        transform: translateY(0px);
    }
}
.searchbox
{
    background-color: black;
    border:none;
    border-bottom: 1px solid ;
    margin-bottom: 80px;
    color: white;
}
.hed
{
    color: white;
}
.contact
{
    border: 0;
    border-bottom: 1px solid white;
    background-color:black;
    width: 480px;
}
.btn
{
    background-color: rgba(0,0,0,.3);
    width: 7%;
    height: 5%;
    border: 1px solid  rgba(255, 0, 0, 0.384);
    color: rgba(255, 0, 0, 0.384);
}